<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<div id="leaflet-map-{map.uid}" class="leaflet-map leaflet-map-{map.uid}"></div>

<f:if condition="{settings.showZipSearch}">
<div id="leaflet-search-{map.uid}" class="leaflet-search leaflet-search-{map.uid}">
    <form action="#">
        <div class="input-group">
            <input type="text" name="zip" class="form-control" placeholder="{f:translate(key:'labels.search-zip')}">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </form>
</div>
</f:if>

<div id="leaflet-partners-{map.uid}" class="leaflet-partners leaflet-partners-{map.uid}">
<f:for each="{map.partners}" as="partner">
    <div class="leaflet-partner" data-zip="{partner.zip}">
        <div class="leaflet-partner-header row">
            <div class="col-xs-12">
                <f:if condition="{partner.logo}">
                    <f:image image="{partner.logo}" maxHeight="100" />
                </f:if>
                <f:link.external uri="{partner.url}" class="btn btn-primary pull-right js-partner-tracking" additionalAttributes="{data-partner: '{partner.uid}'}" target="_blank">{f:translate(key:'labels.learn-more')}</f:link.external>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="leaflet-partner-address col-xs-12 col-sm-6 col-md-4">
                <strong>{partner.name}</strong>
                <br>{partner.street} {partner.houseno}
                <br>{partner.zip} {partner.city}
                <f:if condition="{partner.state}">
                    <br>{partner.state}
                </f:if>
                <f:if condition="{partner.url}">
                    <br><f:link.external uri="{partner.url}" class="js-partner-tracking" additionalAttributes="{data-partner: '{partner.uid}'}" target="_blank">{partner.url}</f:link.external>
                </f:if>
            </div>
            <div class="leaflet-partner-description col-xs-12 col-sm-6 col-md-8">
            <f:if condition="{partner.description}">
                {partner.description -> f:format.html()}
            </f:if>
            </div>
        </div>
        <f:if condition="{partner.summary}">
        <div class="leaflet-partner-summary row">
            <div class="col-xs-12">
                {partner.summary -> f:format.html()}
            </div>
        </div>
        </f:if>
    </div>
</f:for>
</div>


<style type="text/css">
<![CDATA[
#leaflet-map-]]>{map.uid}<![CDATA[ {
    width: ]]>{f:if(condition:'{settings.mapWidth}',then:'{settings.mapWidth}',else:'100%')}<![CDATA[;
    height: ]]>{f:if(condition:'{settings.mapHeight}',then:'{settings.mapHeight}',else:'550px')}<![CDATA[;
}]]>
</style>

<script type="text/javascript">
<![CDATA[
if (typeof leafletMaps == 'undefined') { var leafletMaps = []; }
if (typeof leafletPartners == 'undefined') { var leafletPartners = []; }
if (typeof leafletTrackingUrl == 'undefined') { var leafletTrackingUrl = ']]>{f:uri.action(action:'tracking')}<![CDATA['; }
leafletMaps.push({
    uid: ]]>{map.uid}<![CDATA[,
    latitude: ]]>{map.latitude}<![CDATA[,
    longitude: ]]>{map.longitude}<![CDATA[,
    initZoomLevel: ]]>{settings.initZoomLevel}<![CDATA[,
});
leafletPartners.push(]]>{partnersJson -> f:format.raw()}<![CDATA[);
]]>
</script>

</f:section>
</html>