.leaflet-map,
.leaflet-search {
	margin: 0 0 20px;
}

.leaflet-partner {
	margin-bottom: 20px;
	border-bottom: 1px solid #CCC;
}
	.leaflet-partner-header {
		margin-bottom: 20px;
	}
	.leaflet-partner-summary {
		margin-top: 10px;
	}