<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pb-osmpartners" >
	<tr>
		<td>
			<f:translate key="tx_pbosmpartners_domain_model_map.name" />
		</td>
		<td>
		{map.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pbosmpartners_domain_model_map.latitude" />
		</td>
		<td>
		{map.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pbosmpartners_domain_model_map.longitude" />
		</td>
		<td>
		{map.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pbosmpartners_domain_model_map.styles" />
		</td>
		<td>
		{map.styles}
		</td>
	</tr>
</table>
</html>